* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    font-size: 16px;
}

p {
    margin-bottom: 2em
}

span {
    margin-left: .5em;
}

body {
    background-color: hsl(208, 16%, 90%);
}

#title {
    color: hsl(228, 97%, 20%);
}

.main-content-section {
    background-color: white;
    border: 1px solid hsl(208, 16%, 93%);
    border-radius: 40px;
    z-index: 10;
    box-shadow: 0 3px 5px hsl(209, 12%, 72%);
}

.name, .email, .age {
    margin-bottom: 5em;
}

#name-label, #email-label, #number-label {
    display: block;
    margin-bottom: 1.2em;
}


#name, #email, #number, #drop-content {
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    height: 4em;
    padding: 0 .8em;
    border: 1px solid white;
    border-radius: 5px;
}

::placeholder {
       color: hsl(232, 100%, 14%);
}

#dropdown {
    margin-bottom: 5em;
}

.gender-section {
    margin-bottom: 5em;
}

.gender, .genre {
    margin-bottom: 1.1em;
       color: hsl(228, 97%, 20%);
}

#radio-btn, #check-bx {
    width: 1.5em;
    height: 1.5em;
}

.music-section {
    margin-bottom: 5em;
}

.thought-section {
    margin-bottom: 6em;
}

.submit-section {
    text-align: center;
    margin: 0 auto;
}

aside {
    text-align: center;
    margin: 6em 0;
}

@media screen and (max-width: 767px) {
    * {
        box-sizing: border-box;
        outline: none;
    }


    span {
        font-size: 0.9rem;
    }

    .survey-title {
        margin: 5em 0 4em 0;
        padding: 0 .9em;
        text-align: center;
    }

    #title {
        font-size: 1.5em;
    }

    .main-content-section {
        margin: 4em .5em 6em;
        padding: 6em .9em;
        border-radius: 10px;
        box-shadow: none;
    }
  
    #name, #email, #number, #drop-content {
        background-color: hsl(208, 16%, 91%);
  }

    p, #name-label, #email-label, #number-label {
        color: hsl(228, 97%, 20%);
        font-size: .97em;
        font-weight: bold;
    }

    #thoughts {
        padding: .7em .8em;
        width: 100%;
        height: 10em;
    }

    #submit {
        background-color: hsl(237, 95%, 58%);
        color: white;
        padding: 1.2em 0;
        width: 100%;
        border: 1px solid hsl(237, 100%, 56%);
        border-radius: 6px;
        font-size: .85em;
        box-shadow: inset 0 1px 0 hsl(215, 98%, 61%), 0 2px 3px hsla(0, 0%, 0%, .5);
    }

    aside {
        margin: 5em 0 4em 0;
        padding: 0 .5em;
    }

    #description {
        line-height: 1.4em;
    }

}    

    @media screen and (min-width: 767px) {
     * {
        box-sizing: border-box;
        outline: none;
    }

    html {
        font-size: 20px;
    }

    span {
        color: hsl(232, 100%, 14%);
    }

    ::placeholder {
        font-size: 1.3em;
    }


    .survey-title {
        margin: 6em 0;
        text-align: center;
    }

    .main-content-section {
        margin: 6em auto;
        padding: 5em 1.1em;
        width: 70%;
        border-radius: 20px;
    }

      p, #name-label, #email-label, #number-label {
        color: hsl(228, 97%, 20%);
        font-size: 1.05em;
        font-weight: bold;
    }

    #thoughts {
        padding: .7em .8em;
        width: 100%;
        height: 10em;
    }

    #submit {
        background-color: hsl(237, 100%, 56%);
        color: white;
        width: 40%;
        height: 2.5em;
        border: 1px solid hsl(237, 100%, 56%);
        border-radius: 5px;
        font-size: 1.05em;
        font-family:'Trebuchet MS', Arial, sans-serif;
        letter-spacing: 0.07em;
        box-shadow: inset 0 1px 0 hsl(215, 98%, 61%), 0 2px 4px hsla(0, 0%, 0%, .5);
    }

    #submit:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .9);
        cursor: pointer;
    }

}

@media screen and (min-width: 1380px) {
    .main-content-section {
        margin: 6em auto;
        padding: 5em 3em;
        width: 55%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .name{
        width: 100%;
    }

    .email, .age {
        width: 45%;
    }

    .gender-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gender-section-header {
        width: 100%;
    }

    .music-content-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: space-between;
    }

    .music-content-header {
        width: 100%;
    }

    .genre {
        margin-right: 3em;
    }

    #description {
        font-size: 1.2em;
    }
}
    


